


        #content{
            margin: 0 auto;
            width: 50%;
            font-family: 'PT Sans', sans-serif;  
        }
        header{  
            background-color: rgb(1, 1, 33);
            color: white;
        
            text-align:center;
            align-items: center;
        }
        main{
            display: grid;
            grid-template-columns:  (1fr);
            font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
        }
        
        footer{background-color: rgb(6, 6, 98);
            color: white;
            text-align:center;
        }
        .sec1{
            border-radius: 25px;
           background-color:rgb(205, 205, 205);
            padding: 21px;
            width: 250px;
            height: 800px;
            align-items:center;
            text-align:center;
        }
        .mainHeader1{border-radius: 25px;
            background-color:rgb(75, 54, 231);
             padding: 20px;
             width: 200px;
             height: 80px;
            vertical-align:top;}
        .sec2{ border-radius: 25px;
            background-color:rgb(205, 205, 205);
             padding: 20px;
             width: 250px;
             height: 800px;
             align-items:center;
             text-align:center;}

        .mainHeader2{border-radius: 25px;
            background-color:rgb(75, 54, 231);
            padding: 20px;
            width: 200px;
            height: 80px;
           vertical-align:top;}
         .sec3{ border-radius: 25px;
            background-color:rgb(205, 205, 205);
             padding: 20px;
             width: 250px;
             height: 800px;
             align-items:center;
             text-align:center;}
             .mainHeader3{border-radius: 25px;
                background-color:rgb(75, 54, 231);
                padding: 20px;
                width: 200px;
                height: 80px;
               vertical-align:top;}
             
    
        
        
        @media screen and (min-width:500px){
            h1{font-size: 20pt;}
            h2{font-size: 10pt;}
            main{display:grid;
            grid-template-columns:(1fr);}
        }
        @media screen and (min-width:600px){
            h1{font-size: 20pt;}
            h2{font-size: 10pt;}
            main{display:grid;
            grid-template-columns:repeat(2,1fr);}
        }
        @media screen and (min-width:900px){
            main{display:grid;
            grid-template-columns: repeat(3,1fr);}
            h1{font-size: 40pt;}
            h2{font-size: 13pt;}

        }
    