#content{font-size:15pt;
    font-family:'Raleway', sans-serif;
}
/*head*/
header{
    display:grid;
    
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 1rem;    
    justify-content:left;
    align-items: center;
    background-color:#b71c1c;
    border-radius:20px;
}
.logo img{
    grid-row:1;
        width:150px;
    height:150px;
    
    padding:20px;}
.title{display:none;}
.social{
    grid-column:5;
    
}
.social img{border-radius:20px;}
/*nav bar*/
.active{
    background-color: #ffca28;
    text-decoration:underline;
    
}
.active a{
    color:black;
}
nav button{
    margin: .2rem 2vw;
    background: transparent;
    border: none;
    font-size: 2rem;
    color: #555;
}
nav{
    display:flex;
    width:fit-content;
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
    text-align: center;  
    
    color: white;
    padding: 1rem;
    margin: .1rem;    
    border: 2px black solid;
    border-radius: 30px;}
    nav ul{
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    nav ul li a{
        display: block;
        padding: 0.8rem 2vw;
        text-decoration:none;
        color: #333;
        border-top: 1px solid rgba(0,0,0,0.5);
    }
    
    nav ul li a:hover{
        background-color: #c79a00;
        transition-duration: 1000ms;
    }
nav ul {display: none;}
nav ul.open {display:block;}
#hamburgerButton span:nth-child(1) {display: block;}
#hamburgerButton span:nth-child(2) {display:none;}
#hamburgerButton.open span:nth-child(1){display: none;}
#hamburgerButton.open span:nth-child(2){display: block;}

/*index body*/
.home{display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap:10px;
    grid-template-rows: repeat(4,10rem);
    padding:10px;
    margin:10px;
    width:fit-content;
    height:fit-content;
}
#templeImgs{display:none;}

.home button{grid-row:1;
    grid-column:1/4;
    justify-content: center;
    align-items: center;
    background-color: #b71c1c;
    color: #e5e5e5;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    font-size: 1.5em;
    font-weight: 700;
height:fit-content;
width:fit-content;}
    .home button:hover{background-color: #ffca28;
    text-transform:uppercase;
color:black;
transition-duration: 1000ms;}

#services{grid-row:2;
grid-column:1/4;
border:1px solid black;
border-radius: 10px;
align-items: center;
justify-items: center;}

#services p{margin:10px;
font-size:12.5pt;}
#description-large{display:none;}
#description-small{font-size:12pt;}
#map{grid-row:3;
grid-column:1/4;
border:1px solid black;
border-radius: 10px;}
#gMap{max-height:150px;}

.weather{grid-row:4/6;
grid-column:1;
border:1px solid black;
border-radius:10px;
padding:10px;}
.weather p{font-size:12pt;}

#contact{grid-row:4/6;
    grid-column:2/4;
    border:1px solid black;
border-radius: 10px;
}

/*temple*/
.templeList{height:fit-content;
    width: fit-content;
    margin: auto;
    
}
  .cards {
    padding:10px;
    display:flex;
    flex-direction:column;
    text-align: center;
    justify-content: center;

    
    
  }
  .cards section{
    border: 2px solid;
    background-color: whitesmoke;
    padding: 25px;
    text-align: center;
    width: 250px;
    margin: 1px;
    height:1000px;
    
    
  }
  .templeList h2, h1{
    color: black;
    text-align:center;

  }
  .templeList .cards img{
    width: 250px;
    height: 150px;
  }
  .templeList a{
    color: black;
  }
  .templeList p:first-of-type{
    font-style: italic;
    font-size:0.75em;
  }
  .templeList .icons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    margin:10px;

  }
  .icons button{
    background-color:white;
  }
  .icons button:hover{background-color:#ffca28;
cursor: pointer;
}

.icons img{width:50px;}

.templeList table{display:none;
    width: 90%;
border-collapse: collapse;
margin: auto;
overflow: hidden;
height:100px;
}

.templeList td{
padding:10px;
}

tr:nth-child(odd) {
background-color:#eee;
}
tr td{
display: none;
height:100px;
}
/*reservation form*/
.form h1 {
    display: block;
    text-align: center;
}


.form form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    color: black;
    
}

.form form input, .form textarea {
    font-size: 1em;
    width: 350px;
    height: 30px;
    padding: 10px;
    margin: 10px auto;
    border: 2px solid black;
    border-radius: 10px;
    
    font-weight: 500;
    background-color: whitesmoke;
}

.form textarea {
    height: 250px;
}

.form form label {
    
    font-weight: 700;
    text-align: left;
    margin: 5px;
}

label, textarea, select{
    display: inline-block;
    
    clear: left;
    width: 350px;
    text-align: left;
}

.form #submit {
    background-color: #b71c1c;
    color: white;
    cursor: pointer;
    padding: 10px;
    border: none;
    border-radius: 10px;
    position: relative;
    
    z-index: 5;
    width: 200px;
    height: 50px;
    font-size: 1.5em;
    font-weight: 700;
    margin: 15px;
}

.form #submit:hover {
    background-color: #ffca28;
}

.thanks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 50px;
    text-align: center;
}

.thanks h1, .board h1 {
    display: block;
}
.reservation{
    width:fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    padding:50px;
    color: black;
    background-color:rgb(241, 233, 224);
    border-radius:10px;
}
/*Services*/
.servicesMain{display:flex;
flex-direction:column;
margin:10px;}
.servicesMain p{display:none;}
.servicesMain ul{display:none;}

#receptionButton{
    justify-content: center;
    align-items: center;
    background-color: #b71c1c;
    color: #e5e5e5;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    font-size: 1.5em;
    font-weight: 700;
    margin:10px;
max-width:fit-content;}
    #receptionButton:hover{background-color: #ffca28;
    text-transform:uppercase;
color:black;
transition-duration: 1000ms;}
#missionaryButton{
    justify-content: center;
    align-items: center;
    background-color: #b71c1c;
    color: #e5e5e5;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    font-size: 1.5em;
    font-weight: 700;
    max-width:fit-content;
}
    #missionaryButton:hover{background-color: #ffca28;
    text-transform:uppercase;
color:black;
transition-duration: 1000ms;}


/*footer*/
footer{display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:50px, 50px;
    background-color: #c62020;
    width: fit-content;
    
    
}
#about{grid-column:1;
grid-row:1;
padding:15px;}
#footMap{grid-column: 2;
grid-row:1;}
#footGMap{border:1px solid black;
    border-radius:10px;
    padding:10px;}