@media only screen and (min-width:50rem){
    .title{display:block;
        grid-column:2;
    }
    #button{grid-column:1/3;}
    #contact{grid-column:2;}
    #services{grid-column:1/3;}
    #services p{font-size:14pt;}
    #map{grid-column:1/3;}
    #templeImgs{display:block;
    grid-row:1/6;
    grid-column:3;
    background-image:url("https://churchofjesuschristtemples.org/assets/img/temples/portland-oregon-temple/portland-oregon-temple-1629-main.jpg");
    background-size:cover;
    border:1px solid black;
    border-radius:10px;}
    #footMap{grid-column: 2;
        grid-row:1;
    margin-left: 400px;}
#description-small{font-size: 15pt;}
/*temple*/
.templeList{height: 1200px;
    width: 100%;
    margin: auto;
}
  .cards {
    display:flex;
    flex-direction:row;
    text-align: center;
    justify-content: center;
    
    
  }
  /*reservation*/
  label, textarea, select{
    display: inline-block;
    
    clear: left;
    width: 400px;
    text-align: left;
}
.form form input, .form textarea {
  font-size: 1em;
  width: 400px;
  height: 30px;
  padding: 10px;
  margin: 10px auto;
  border: 2px solid black;
  border-radius: 10px;
  
  font-weight: 500;
  background-color: whitesmoke;
}

}
    